.footer-container {
    margin-top: 1rem;
    background-color: #112B4A;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15rem;
}

footer {
    background-color: #112B4A;
    text-align: center;
    border-top: 12px solid #326199;
  }

.roboto-font {
    font-family: 'Roboto', sans-serif;
    color: #fff
    
}

.footer-text {
    font-family: 'Roboto', sans-serif;
    color:gray;
    text-align: center;
    padding: 10px;
    /* align */
    vertical-align: 50%;
}


.footer-image {
    width: 5%;
    height: 5%;
}
.footer-image:hover {
    filter: brightness(150%);
    transition: filter 0.5s ease-in-out;
}