footer {
    position: absolute;
    background-color: #112B4A;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 8px;
    text-align: center;

    border-top: 12px solid #326199
  }

.roboto-font {
    font-family: 'Roboto', sans-serif;
    color: #fff
    
}

.footer-text {
    font-family: 'Roboto', sans-serif;
    color:gray;
    text-align: center;
    padding: 10px;
    /* align */
    vertical-align: 50%;
}


.footer-image {
    width: 2.5%;
    height: 2.5%;
}
.footer-image:hover {
    filter: brightness(150%);
    transition: filter 0.5s ease-in-out;
}