.Title {
    box-sizing: border-box;
    background-color: #112B4A;
    text-align: center;
    border-bottom: 12px solid #326199;
    /* Flex */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    padding-bottom: 1%;
    padding-top: 1%;
}

.roboto-font {
    font-family: 'Roboto', sans-serif;
}

.logo-img {
    width: 20rem;
    height: 15rem;
}
