.Title {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 1em;
    margin-bottom: 2em;
    background-color: #112B4A;
    color: #511fdc;

    border-bottom: 12px solid #326199
}

.roboto-font {
    font-family: 'Roboto', sans-serif;
}
