.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.aws-btn {
  --button-default-height: 58px;
  --button-default-font-size: 14px;
  --button-default-border-radius: 9px;
  --button-horizontal-padding: 34px;
  --button-raise-level: 8px;
  --button-hover-pressure: 1;
  --transform-speed: 0.15s;
  --button-primary-color: #1b2655;
  --button-primary-color-dark: #335e82;
  --button-primary-color-light: #ffffff;
  --button-primary-color-hover: #5d84d4;
  --button-primary-color-active: #3c5e7b;
  --button-primary-border: none;
  margin-bottom: 2%;
}

.btn {
  background-color: #1b2655;
  color: white;
  font-size: 20px;
  padding: 10px 60px;
  border-radius: 5px;
  margin: 10px 0px;
  cursor: pointer;
  margin-bottom: 2%;
}

.btn:hover 
{
  background-color: #171b2a;
}

.form-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 2%;
  margin-bottom: 6%;
}